.header_airhouse {
  max-width: 250px;
  #air {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    padding-bottom: 42px;
  }
  .callcentr {
    h1 {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #000000;
      padding-bottom: 23px;
    }
  }
  .air_phone_number {
    p {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      color: #000000;
      padding-bottom: 15px;
    }
  }
  .air_log {
    display: flex;
    align-content: center;
    justify-content: start;
    gap: 20px;
  }
}
