.header_cooperation {
  max-width: 250px;
  h1 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    padding-bottom: 40px;
  }
  .site_news {
    p {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #000000;
      padding-bottom: 15px;
    }
  }
  .build {
    p {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #000000;
    }
  }
}
