.header_safety {
  max-width: 250px;
  h1 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    padding-bottom: 40px;
  }
  .about_safety {
    p {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #434343;
      padding-bottom: 15px;
    }
  }
  .click_and_uzum {
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
  }
  .payme_and_paynet {
    max-width: 212px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
