.header_maps {
  margin-top: 69px;
  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
  }
  .google_carta {
    margin-top: 60px;
  }
}
