.big_announcement{
   max-width: 608px;
    margin: 0 auto;
   
    position: relative;
    top: 4rem;
    .item_announcement{
        max-width: 506px;
        margin: 0 auto;
        background-color: white;
      
    }
}


