.header_comment {
  position: relative;
  left: 2rem;
  padding: 2rem 0px;
  h1 {
    font-weight: 500;
    font-size: 14px;
    color: #55595c;
    padding: 10px 0px;
  }
  textarea {
    width: 443px;
    height: 60px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    outline: none;
    resize: none;
    padding: 5px;
  }
}
