.price {
  padding-right: 12px;
  @media (max-width: 1020px) {
    display: none;
  }

  .price_title {
    border: 1px solid #e6e6e6;
    // box-shadow: 2px 2px 17px rgba(154, 154, 154, 0.5);
    cursor: pointer;
    border-radius: 50px;
    padding: 9px 15px;
    button {
      background: none;
      border: none;
      display: flex;
      align-items: center;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;

      color: #818a91;
      transition: 1s ease;
      cursor: pointer;

      &:hover {
        color: #df2d43;
      }
      img {
        &:first-of-type {
          padding-right: 5px;
        }
      }
    }
  }
}
.price_dropdown {
  position: absolute;
  display: none;
  top: 135px;

  background: #ffffff;
  border: 0.5px solid #818181;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;
  z-index: 1000;
  // width: 200px
  @media (min-width: 500px) {
    display: block;
  }
  // .price_dropdown_box {
  //   h3 {
  //     font-family: "Poppins";
  //     font-style: normal;
  //     font-weight: 500;
  //     font-size: 14px;
  //     line-height: 20px;
  //     color: #000000;
  //     padding: 10px;
  //     cursor: pointer;
  //     &:hover {
  //       background: #df2d43;
  //       border-radius: 4px;
  //       color: #fff;
  //     }
  //   }
  // }
}

.price_parahraph {
  padding-bottom: 10px;
  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #303030;
  }
}

.price_input {
  display: flex;
  align-items: center;
  .price_input_min {
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin-right: 20px;
    input {
      border: none;
      outline: none;
      max-width: 100px;
    }
  }
  .price_input_max {
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 5px 10px;

    input {
      border: none;
      outline: none;
      max-width: 100px;
    }
  }
}
