.Big_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0px;
  .first_price {
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 135px;
      height: 42px;
      gap: 5px;
      border: 1px solid #e6e6e6;
      border-radius: 50px;
      background-color: #fff;
      cursor: pointer;
      p {
        font-weight: 500;
        font-size: 14px;
        color: #818a91;
      }
    }
    button:hover {
      border: 2px solid #df2d43;
      cursor: pointer;
      p {
        color: #df2d43;
      }
    }
  }
  .second_price {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #e6e6e6;
    border-radius: 50px;
    height: 42px;
    padding: 10px;

    button {
      display: flex;
      align-items: center;
      border: none;
      background: #fff;

      p {
        font-weight: 500;
        font-size: 14px;
        color: #818a91;
      }
    }
    .second_first {
      ul {
        position: absolute;
        background: #ffffff;
        border: 0.5px solid #818181;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 10px;
        z-index: 2;
        li {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #000000;
          padding: 10px;
          cursor: pointer;
          list-style: none;
        }
        li:hover {
          background-color: #df2d43;
          color: white;
        }
      }
    }
    input {
      border: none;
      outline: none;
    }
  }
  .second_price:hover {
    border: 2px solid #df2d43;
  }
}
