.big_rooms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .first_room {
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 135px;
      height: 42px;
      gap: 5px;
      border: 1px solid #e6e6e6;
      border-radius: 50px;
      background-color: #fff;
      cursor: pointer;
      p {
        font-weight: 500;
        font-size: 14px;
        color: #818a91;
      }
    }
    button:hover {
      border: 2px solid #df2d43;
      p {
        color: #df2d43;
      }
    }
  }
  .second_room {
    display: flex;
    gap: 10px;
    .white-btn {
      width: 42px;
      height: 42px;
      border: 2px solid #df2d43;
      background-color: #fff;
      border-radius: 50%;
      p {
        font-weight: 500;
        font-size: 14px;
        color: #818a91;
      }
    }
    .black-btn {
      width: 42px;
      height: 42px;
      border: 2px solid #df2d43;
      background-color: #df2d43;
      border-radius: 50%;
      p {
        font-weight: 500;
        font-size: 14px;
        color: #fff;
      }
    }
    button:hover {
      background-color: #df2d43;
      cursor: pointer;
      p {
        color: white;
      }
    }
  }
}
