.sale {
  padding-right: 20px;
  @media (max-width:900px) {
    display: none;
  }
  .sale_title {
    button {
      background: none;
      border: none;
      display: flex;
      align-items: center;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 0.5px;
      color: #000000;
      transition: 1s ease;
      cursor: pointer;
      &:hover {
        color: #df2d43;
      }
    }
  }
  .sale_dropdown {
    position: absolute;
    top: 70px;
    padding: 7px;
    background: #ffffff;
    border: 0.5px solid #818181;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 10px;
    @media (min-width: 500px) {
      display: block;
    }

    .sale_dropdown_box {
      h3 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        padding: 10px;
        cursor: pointer;
        &:hover {
          background: #df2d43;
          border-radius: 4px;
          color: #fff;
        }
      }
    }
  }
}
