.type_home_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0px;
   button{
    width: 135px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #818A91;
    gap: 5px;
    
   } 
   button:hover{
    border: 2px solid #DF2D43;
    cursor: pointer;
    p{
        color: #DF2D43;
    } 
     }
   .header_json{
    ul{
        position: absolute;
        background: #ffffff;
        border: 0.5px solid #818181;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 10px;
        li{
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #000000;
            padding: 10px;
            cursor: pointer;
            list-style: none;
        }
        li:hover{
           background-color: #DF2D43;
           color: white; 
        }
    }
   }
   .second_bottom_header{
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #E6E6E6;
    border-radius: 50px;
    height: 42px;
    padding: 10px;
   }
   .second_bottom_header:hover{
    border: 2px solid #DF2D43;
   }
}