.type_home_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0px;
  .bottom_header {
    width: 135px;
    height: 42px;
    background: #ffffff;
    border: 2px solid #e6e6e6;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #818a91;
    padding: 0px 5px;
    gap: 10px;
    button p {
      font-weight: 500;
      font-size: 14px;
      color: #818a91;
    }
  }
  .bottom_header:hover {
    border: 2px solid #df2d43;
    cursor: pointer;
  }
  button {
    display: flex;
    border: none;
    background-color: white;
    align-items: center;
    padding-right: 5px;
  }

  .header_json {
    display: flex;
    align-items: center;
    justify-content: center;
    select {
      border: none;
      outline: none;
      cursor: pointer;
      width: 73px;
      padding: 4px;
      color: #55595c;
    }
    option {
      width: 200px;
    }
  }
  .second_bottom_header {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #e6e6e6;
    border-radius: 50px;
    height: 42px;
    padding: 10px;
  }
  .second_bottom_header:hover {
    border: 2px solid #df2d43;
  }
}
