.type_home_header_one {
  padding-bottom: 30px;
}
.type_home_header_one1 {
  padding-bottom: 30px;
}

.type_home_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .bottom_header {
    width: 200px;
    height: 42px;
    background: #ffffff;
    border: 2px solid #e6e6e6;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #818a91;
    padding-left: 2rem;
  }
  .bottom_header:hover {
    border: 2px solid #df2d43;
    cursor: pointer;
  }

  .header_json {
    display: flex;
    align-items: center;
    justify-content: center;
    select {
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 6px;
      padding: 4px;
      color: #55595c;
    }
    option {
      width: 200px;
      p {
        font-weight: 500;
        font-size: 14px;
        color: #818a91;
      }
    }
  }
  .second_bottom_header {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #e6e6e6;
    border-radius: 50px;
    height: 42px;
    padding: 10px;
  }
  .second_bottom_header:hover {
    border: 2px solid #df2d43;
  }
}
