* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(198, 197, 197);
  border-radius: 6px;
}

.topNavbar {
  background: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  position: relative;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
@media (max-width: 500px) {
  .topNavbar {
    box-shadow: none;
  }
}
.topNavbar .navbarFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topNavbar .navbarFlex .humburger_menu {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #2A2D3A;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
@media (max-width: 490px) {
  .topNavbar .navbarFlex .humburger_menu {
    display: flex;
  }
}
.topNavbar .navbarFlex .humburger_menu img {
  width: 25px;
  position: relative;
  top: 3px;
}
.topNavbar .navbarFlex .logo {
  cursor: pointer;
  padding: 0px 10px;
}
.topNavbar .saleBar {
  display: flex;
  align-items: center;
}

.search {
  background: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  padding: 10px 10px 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}
@media (max-width: 500px) {
  .search {
    display: none;
  }
}
.search input {
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 500;
  color: #393c3d;
  border: none;
  background: none;
  outline: none;
  border-left: 1px solid #7b7b7b;
  padding-left: 10px;
}
.search input::-moz-placeholder {
  font-family: "Poppins";
}
.search input::placeholder {
  font-family: "Poppins";
}
.search img {
  background-color: #df2d43;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.search_child {
  display: none;
  background: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  padding: 10px 10px 10px 30px;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}
@media (max-width: 500px) {
  .search_child {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 300px;
  }
}
.search_child input {
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 500;
  color: #393c3d;
  border: none;
  background: none;
  outline: none;
  border-left: 1px solid #7b7b7b;
  padding-left: 10px;
}
.search_child input::-moz-placeholder {
  font-family: "Poppins";
}
.search_child input::placeholder {
  font-family: "Poppins";
}
.search_child img {
  background-color: #df2d43;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.login {
  display: flex;
  align-items: center;
  padding-right: 10px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .login {
    display: none;
  }
}
.login button {
  background: none;
  border: none;
  padding-right: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #55595c;
  cursor: pointer;
}

.apply {
  background: #df2d43;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 1px rgba(50, 40, 61, 0.4), 0px 2px 3px rgba(50, 40, 61, 0.2);
  border-radius: 60px;
  cursor: pointer;
}
.apply button {
  white-space: nowrap;
  background: none;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .apply button {
    display: none;
  }
}

.register {
  display: flex;
  align-items: center;
  padding-left: 140px;
}
@media (max-width: 1320px) {
  .register {
    padding-left: 0px;
  }
}

.sale {
  padding-right: 20px;
}
@media (max-width: 900px) {
  .sale {
    display: none;
  }
}
.sale .sale_title button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #000000;
  transition: 1s ease;
  cursor: pointer;
}
.sale .sale_title button:hover {
  color: #df2d43;
}
.sale .sale_dropdown {
  position: absolute;
  top: 70px;
  padding: 7px;
  background: #ffffff;
  border: 0.5px solid #818181;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;
}
@media (min-width: 500px) {
  .sale .sale_dropdown {
    display: block;
  }
}
.sale .sale_dropdown .sale_dropdown_box h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 10px;
  cursor: pointer;
}
.sale .sale_dropdown .sale_dropdown_box h3:hover {
  background: #df2d43;
  border-radius: 4px;
  color: #fff;
}

.rent {
  padding-right: 20px;
}
@media (max-width: 810px) {
  .rent {
    display: none;
  }
}
.rent .rent_title button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #000000;
  transition: 1s ease;
  cursor: pointer;
}
.rent .rent_title button:hover {
  color: #df2d43;
}

.rent_dropdown {
  position: absolute;
  display: none;
  top: 70px;
  background: #ffffff;
  border: 0.5px solid #818181;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;
  z-index: 1000;
}
@media (min-width: 500px) {
  .rent_dropdown {
    display: block;
  }
}
.rent_dropdown .rent_dropdown_box h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 10px;
  cursor: pointer;
}
.rent_dropdown .rent_dropdown_box h3:hover {
  background: #df2d43;
  border-radius: 4px;
  color: #fff;
}

.newDev {
  padding-right: 20px;
}
@media (max-width: 1145px) {
  .newDev {
    display: none;
  }
}
.newDev .newDev_title button {
  white-space: nowrap;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #000000;
  transition: 1s ease;
  cursor: pointer;
}
.newDev .newDev_title button:hover {
  color: #df2d43;
}
.newDev .newDev_dropdown {
  position: absolute;
  top: 70px;
  background: #ffffff;
  border: 0.5px solid #818181;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;
}
@media (min-width: 500px) {
  .newDev .newDev_dropdown {
    display: block;
  }
}
.newDev .newDev_dropdown .newDev_dropdown_box h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 10px;
  cursor: pointer;
}
.newDev .newDev_dropdown .newDev_dropdown_box h3:hover {
  background: #df2d43;
  border-radius: 4px;
  color: #fff;
}

.language {
  padding-right: 12px;
  cursor: pointer;
}
.language .language_title {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.language .language_title img {
  padding-left: 10px;
}
.language .language_title button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #000000;
  transition: 1s ease;
  cursor: pointer;
  padding-right: 10px;
}
.language .language_title button:hover {
  color: #df2d43;
}

.language_dropdown {
  position: absolute;
  top: 70px;
  background: #ffffff;
  border: 0.5px solid #818181;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;
}
@media (min-width: 500px) {
  .language_dropdown {
    display: block;
  }
}
.language_dropdown .language_dropdown_box h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 10px;
  cursor: pointer;
}
.language_dropdown .language_dropdown_box h3:hover {
  background: #df2d43;
  border-radius: 4px;
  color: #fff;
}

.bottom {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(153, 153, 153, 0.16);
  padding: 10px 0;
  z-index: 1000;
  margin-top: 5rem;
}
@media (max-width: 600px) {
  .bottom {
    display: none;
  }
}
.bottom .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.city {
  padding-right: 12px;
}
.city .city_title {
  border: 1px solid #e6e6e6;
  cursor: pointer;
  border-radius: 50px;
  padding: 9px 15px;
}
.city .city_title button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #818a91;
  transition: 1s ease;
  cursor: pointer;
}
.city .city_title button:hover {
  color: #df2d43;
}
.city .city_title button img {
  padding-right: 5px;
}

.city_dropdown {
  position: absolute;
  display: none;
  top: 135px;
  background: #ffffff;
  border: 0.5px solid #818181;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;
  z-index: 1000;
  max-height: 335px;
  overflow-y: scroll;
}
.city_dropdown::-webkit-scrollbar {
  width: 6px;
}
.city_dropdown::-webkit-scrollbar-thumb {
  background-color: #a09394;
  border-radius: 40px 0 0 40px;
}
@media (min-width: 500px) {
  .city_dropdown {
    display: block;
  }
}
.city_dropdown .city_dropdown_column .city_dropdown_items {
  border: 1px solid #d5d7d9;
  border-radius: 4px;
  padding: 6px 10px;
  width: 250px;
  cursor: pointer;
  margin-bottom: 13px;
}
.city_dropdown .city_dropdown_column .city_dropdown_items p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #767676;
}

.location {
  padding-right: 12px;
}
.location .location_title {
  border: 1px solid #e6e6e6;
  border-radius: 50px;
  padding: 9px 15px;
  cursor: pointer;
}
.location .location_title button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #818a91;
  transition: 1s ease;
  cursor: pointer;
}
.location .location_title button:hover {
  color: #df2d43;
}
.location .location_title button img:first-of-type {
  padding-right: 5px;
}

.location_dropdown {
  position: absolute;
  display: none;
  top: 135px;
  background: #ffffff;
  border: 0.5px solid #818181;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;
  z-index: 1000;
  max-height: 335px;
  overflow-y: scroll;
}
.location_dropdown::-webkit-scrollbar {
  width: 6px;
}
.location_dropdown::-webkit-scrollbar-thumb {
  background-color: #a09394;
  border-radius: 40px 0 0 40px;
}
@media (min-width: 500px) {
  .location_dropdown {
    display: block;
  }
}
.location_dropdown .location_dropdown_column .location_dropdown_items {
  border: 1px solid #d5d7d9;
  border-radius: 4px;
  padding: 6px 10px;
  width: 250px;
  cursor: pointer;
  margin-bottom: 13px;
}
.location_dropdown .location_dropdown_column .location_dropdown_items p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #767676;
}

.type {
  padding-right: 12px;
}
@media (max-width: 890px) {
  .type {
    display: none;
  }
}
.type .type_title {
  border: 1px solid #e6e6e6;
  border-radius: 50px;
  padding: 9px 15px;
  cursor: pointer;
}
.type .type_title button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #818a91;
  transition: 1s ease;
  cursor: pointer;
}
.type .type_title button:hover {
  color: #df2d43;
}
.type .type_title button img:first-of-type {
  padding-right: 5px;
}

.type_dropdown {
  position: absolute;
  display: none;
  top: 135px;
  background: #ffffff;
  border: 0.5px solid #818181;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;
  z-index: 1000;
}
@media (min-width: 500px) {
  .type_dropdown {
    display: block;
  }
}
.type_dropdown .type_dropdown_column .type_dropdown_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #d5d7d9;
  border-radius: 4px;
  padding: 6px 10px;
  width: 250px;
  cursor: pointer;
  margin-bottom: 13px;
}
.type_dropdown .type_dropdown_column .type_dropdown_items .type_left {
  display: flex;
  align-items: center;
}
.type_dropdown .type_dropdown_column .type_dropdown_items img {
  padding-right: 20px;
}
.type_dropdown .type_dropdown_column .type_dropdown_items p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #767676;
}

.price {
  padding-right: 12px;
}
@media (max-width: 1020px) {
  .price {
    display: none;
  }
}
.price .price_title {
  border: 1px solid #e6e6e6;
  cursor: pointer;
  border-radius: 50px;
  padding: 9px 15px;
}
.price .price_title button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #818a91;
  transition: 1s ease;
  cursor: pointer;
}
.price .price_title button:hover {
  color: #df2d43;
}
.price .price_title button img:first-of-type {
  padding-right: 5px;
}

.price_dropdown {
  position: absolute;
  display: none;
  top: 135px;
  background: #ffffff;
  border: 0.5px solid #818181;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;
  z-index: 1000;
}
@media (min-width: 500px) {
  .price_dropdown {
    display: block;
  }
}

.price_parahraph {
  padding-bottom: 10px;
}
.price_parahraph p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #303030;
}

.price_input {
  display: flex;
  align-items: center;
}
.price_input .price_input_min {
  border: 1px solid #a7a7a7;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin-right: 20px;
}
.price_input .price_input_min input {
  border: none;
  outline: none;
  max-width: 100px;
}
.price_input .price_input_max {
  border: 1px solid #a7a7a7;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.price_input .price_input_max input {
  border: none;
  outline: none;
  max-width: 100px;
}

.area {
  padding-right: 12px;
}
@media (max-width: 1321px) {
  .area {
    display: none;
  }
}
.area .area_title {
  border: 1px solid #e6e6e6;
  cursor: pointer;
  border-radius: 50px;
  padding: 9px 15px;
}
.area .area_title button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #818a91;
  transition: 1s ease;
  cursor: pointer;
}
.area .area_title button:hover {
  color: #df2d43;
}
.area .area_title button img:first-of-type {
  padding-right: 5px;
}

.area_dropdown {
  position: absolute;
  display: none;
  top: 135px;
  background: #ffffff;
  border: 0.5px solid #818181;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;
  z-index: 1000;
}
@media (min-width: 500px) {
  .area_dropdown {
    display: block;
  }
}
.area_dropdown .area_dropdown_box h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 10px;
  cursor: pointer;
}
.area_dropdown .area_dropdown_box h3:hover {
  background: #df2d43;
  border-radius: 4px;
  color: #fff;
}

.area_parahraph {
  padding-bottom: 10px;
}
.area_parahraph p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #303030;
}

.area_input {
  display: flex;
  align-items: center;
}
.area_input .area_input_min {
  border: 1px solid #a7a7a7;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 5px 10px 3px 10px;
  margin-right: 20px;
}
.area_input .area_input_min input {
  border: none;
  outline: none;
  max-width: 100px;
}
.area_input .area_input_min p {
  font-size: 14px;
  padding-bottom: 5px;
}
.area_input .area_input_max {
  border: 1px solid #a7a7a7;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 5px 10px 3px 10px;
}
.area_input .area_input_max input {
  border: none;
  outline: none;
  max-width: 100px;
}
.area_input .area_input_max p {
  font-size: 14px;
  padding-bottom: 5px;
}

.rooms {
  padding-right: 12px;
}
@media (max-width: 1175px) {
  .rooms {
    display: none;
  }
}
.rooms .rooms_title {
  border: 1px solid #e6e6e6;
  cursor: pointer;
  border-radius: 50px;
  padding: 9px 15px;
}
.rooms .rooms_title button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #818a91;
  transition: 1s ease;
  cursor: pointer;
}
.rooms .rooms_title button:hover {
  color: #df2d43;
}
.rooms .rooms_title button img:first-of-type {
  padding-right: 5px;
}

.rooms_dropdown {
  position: absolute;
  display: none;
  top: 135px;
  background: #ffffff;
  border: 0.5px solid #818181;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 15px 0 15px 15px;
  z-index: 1000;
}
@media (min-width: 500px) {
  .rooms_dropdown {
    display: block;
  }
}
.rooms_dropdown .rooms_dropdown_box h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 10px;
  cursor: pointer;
}
.rooms_dropdown .rooms_dropdown_box h3:hover {
  background: #df2d43;
  border-radius: 4px;
  color: #fff;
}

.rooms_parahraph {
  padding-bottom: 10px;
}
.rooms_parahraph p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #303030;
}

.rooms_input {
  display: flex;
  align-items: center;
}
.rooms_input .rooms_input_min {
  border: 1px solid #a7a7a7;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.rooms_input .rooms_input_min p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
}

.filters {
  padding-right: 12px;
}
@media (max-width: 770px) {
  .filters {
    display: none;
  }
}
.filters .filters_title {
  border: 1px solid #e6e6e6;
  cursor: pointer;
  border-radius: 50px;
  padding: 9px 15px;
}
.filters .filters_title button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  white-space: nowrap;
  color: #818a91;
  transition: 1s ease;
  cursor: pointer;
}
.filters .filters_title button:hover {
  color: #df2d43;
}
.filters .filters_title button img:first-of-type {
  padding-right: 5px;
}

.filters_dropdown {
  position: absolute;
  display: none;
  top: 135px;
  background: #ffffff;
  border: 0.5px solid #818181;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;
  z-index: 1000;
}
@media (min-width: 500px) {
  .filters_dropdown {
    display: block;
  }
}
.filters_dropdown .filters_dropdown_box h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 10px;
  cursor: pointer;
}
.filters_dropdown .filters_dropdown_box h3:hover {
  background: #df2d43;
  border-radius: 4px;
  color: #fff;
}

.saved {
  padding: 9px 15px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 2px solid #fd586b;
  box-shadow: 0px 0px 1px rgba(50, 40, 61, 0.4), 0px 2px 3px rgba(50, 40, 61, 0.2);
  border-radius: 60px;
  display: none;
  cursor: pointer;
}
.saved img {
  padding-right: 5px;
}
.saved button {
  cursor: pointer;
  background: none;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #df2d43;
}

.find {
  background: #df2d43;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 1px rgba(50, 40, 61, 0.4), 0px 2px 3px rgba(50, 40, 61, 0.2);
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 9px 15px;
  margin-left: 12px;
  width: 180px;
  transition: 1s ease;
  cursor: pointer;
}
.find button {
  cursor: pointer;
  background: none;
  border: none;
  padding-right: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
}

.products_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px 10px;
  padding-top: 30px;
}
.products_container .products_item {
  max-width: 250px;
}
.products_container .products_item .products_image {
  position: relative;
  max-width: 250px;
}
.products_container .products_item .products_image img {
  overflow: hidden;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}
.products_container .products_item .products_image .image_top {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.products_container .products_item .products_image .image_top p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 21px;
  color: #ffffff;
  background: #df2d43;
  border-radius: 6px 0px 6px 0px;
  padding: 0px 18px;
}
.products_container .products_item .products_descriptions p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  padding: 8px 0 10px 0;
}
.products_container .products_item .products_descriptions h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #6d6d6d;
}
.products_container .products_item .products_info {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.products_container .products_item .products_info p {
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 7px;
  background-color: #efefef;
  border-radius: 4px;
  color: #6d6d6d;
  padding: 7px 14px;
}
.products_container .products_item .products_info .products_area {
  display: flex;
  align-items: center;
}
.products_container .products_item .products_info .products_area .products_area_info {
  display: flex;
  align-items: center;
  padding: 0 26px;
}
.products_container .products_item .products_info .products_area img {
  padding-right: 5px;
}
.products_container .products_item .products_info .products_area h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 7px;
  color: #6d6d6d;
}
.products_container .products_item .products_info .products_area h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 7px;
  color: #6d6d6d;
}
.products_container .products_item .products_price p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.products_image {
  overflow: hidden;
  border-radius: 6px;
}

.swiper-pagination-bullet-active {
  background-color: #df2d43 !important;
  cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 15px;
  color: #df2d43 !important;
  fill: black !important;
  stroke: black !important;
  display: none;
  width: 24px;
  height: 24px;
}

.big_announcement {
  max-width: 432px;
  margin: 0 auto;
  position: relative;
  top: 4rem;
}
.big_announcement .item_announcement {
  max-width: 506px;
  margin: 0 auto;
  background-color: white;
}

.item_announcement .header_item {
  text-align: center;
  margin-top: 30px;
}
.item_announcement .header_item .item_Child h1 {
  font-size: 36px;
  font-weight: 600;
  color: #55595c;
  padding: 10px 0px;
}
.item_announcement .header_item .item_Child p {
  font-size: 16px;
  font-weight: 500;
  color: #818a91;
  padding: 10px 0px;
}
.item_announcement .header_item .header_item_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 27px;
  padding-bottom: 50px;
}
.item_announcement .header_item .header_item_button button {
  width: 200px;
  height: 50px;
  background: #ffffff;
  border: 2px solid #818a91;
  border-radius: 50px;
}
.item_announcement .header_item .header_item_button button p {
  font-size: 16px;
  font-weight: 500;
  color: #818a91;
}
.item_announcement .header_item .header_item_button button:hover {
  border: 2px solid #df2d43;
}

.type_home_header_one {
  padding-bottom: 30px;
}

.type_home_header_one1 {
  padding-bottom: 30px;
}

.type_home_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.type_home_header .bottom_header {
  width: 200px;
  height: 42px;
  background: #ffffff;
  border: 2px solid #e6e6e6;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #818a91;
  padding-left: 2rem;
}
.type_home_header .bottom_header:hover {
  border: 2px solid #df2d43;
  cursor: pointer;
}
.type_home_header .header_json {
  display: flex;
  align-items: center;
  justify-content: center;
}
.type_home_header .header_json select {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  padding: 4px;
  color: #55595c;
}
.type_home_header .header_json option {
  width: 200px;
}
.type_home_header .header_json option p {
  font-weight: 500;
  font-size: 14px;
  color: #818a91;
}
.type_home_header .second_bottom_header {
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #e6e6e6;
  border-radius: 50px;
  height: 42px;
  padding: 10px;
}
.type_home_header .second_bottom_header:hover {
  border: 2px solid #df2d43;
}

.big_rooms {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.big_rooms .first_room button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 42px;
  gap: 5px;
  border: 1px solid #e6e6e6;
  border-radius: 50px;
  background-color: #fff;
  cursor: pointer;
}
.big_rooms .first_room button p {
  font-weight: 500;
  font-size: 14px;
  color: #818a91;
}
.big_rooms .first_room button:hover {
  border: 2px solid #df2d43;
}
.big_rooms .first_room button:hover p {
  color: #df2d43;
}
.big_rooms .second_room {
  display: flex;
  gap: 10px;
}
.big_rooms .second_room .white-btn {
  width: 42px;
  height: 42px;
  border: 2px solid #df2d43;
  background-color: #fff;
  border-radius: 50%;
}
.big_rooms .second_room .white-btn p {
  font-weight: 500;
  font-size: 14px;
  color: #818a91;
}
.big_rooms .second_room .black-btn {
  width: 42px;
  height: 42px;
  border: 2px solid #df2d43;
  background-color: #df2d43;
  border-radius: 50%;
}
.big_rooms .second_room .black-btn p {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}
.big_rooms .second_room button:hover {
  background-color: #df2d43;
  cursor: pointer;
}
.big_rooms .second_room button:hover p {
  color: white;
}

.Big_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0px;
}
.Big_price .first_price button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 42px;
  gap: 5px;
  border: 1px solid #e6e6e6;
  border-radius: 50px;
  background-color: #fff;
  cursor: pointer;
}
.Big_price .first_price button p {
  font-weight: 500;
  font-size: 14px;
  color: #818a91;
}
.Big_price .first_price button:hover {
  border: 2px solid #df2d43;
  cursor: pointer;
}
.Big_price .first_price button:hover p {
  color: #df2d43;
}
.Big_price .second_price {
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #e6e6e6;
  border-radius: 50px;
  height: 42px;
  padding: 10px;
}
.Big_price .second_price button {
  display: flex;
  align-items: center;
  border: none;
  background: #fff;
}
.Big_price .second_price button p {
  font-weight: 500;
  font-size: 14px;
  color: #818a91;
}
.Big_price .second_price .second_first ul {
  position: absolute;
  background: #ffffff;
  border: 0.5px solid #818181;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;
  z-index: 2;
}
.Big_price .second_price .second_first ul li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 10px;
  cursor: pointer;
  list-style: none;
}
.Big_price .second_price .second_first ul li:hover {
  background-color: #df2d43;
  color: white;
}
.Big_price .second_price input {
  border: none;
  outline: none;
}
.Big_price .second_price:hover {
  border: 2px solid #df2d43;
}

.header_room_size {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_room_size .first_room_size button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 42px;
  gap: 5px;
  border: 2px solid #e6e6e6;
  border-radius: 50px;
  background-color: #fff;
}
.header_room_size .first_room_size button p {
  font-weight: 500;
  font-size: 14px;
  color: #818a91;
}
.header_room_size .first_room_size button:hover {
  border: 2px solid #df2d43;
}
.header_room_size .first_room_size button:hover p {
  color: #df2d43;
}
.header_room_size .second_room_size {
  display: flex;
  gap: 10px;
}
.header_room_size .second_room_size .room_size_child_one {
  width: 200px;
  height: 42px;
  border: 1px solid #e6e6e6;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.header_room_size .second_room_size .room_size_child_one input {
  width: 8rem;
  height: 20px;
  border: none;
  outline: none;
}
.header_room_size .second_room_size .room_size_child_two {
  display: flex;
  width: 117px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  height: 42px;
  align-items: center;
  padding: 5px;
}
.header_room_size .second_room_size .room_size_child_two input {
  width: 5rem;
  height: 20px;
  border: none;
  outline: none;
}

.header_comment {
  position: relative;
  padding: 2rem 0px;
}
.header_comment h1 {
  font-weight: 500;
  font-size: 14px;
  color: #55595c;
  padding: 10px 0px;
}
.header_comment textarea {
  width: 432px;
  height: 85px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  outline: none;
  resize: none;
  padding: 5px;
}

form {
  width: 118px;
  height: 118px;
  border: 1px dashed #000000;
  border-radius: 8px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_photo {
  gap: 5px;
}
.header_photo .photo-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
  justify-content: space-between;
  margin-top: 20px;
}
.header_photo .photo_item h4 {
  font-weight: 500;
  font-size: 16px;
  color: #55595c;
  padding: 5px 0px;
}
.header_photo .photo_item h5 {
  font-weight: 500;
  font-size: 10px;
  color: #818a91;
  padding: 5px 0px;
}
.header_photo .photo_item p {
  font-weight: 400;
  font-size: 9px;
  color: #818a91;
  padding: 5px 0px;
}

.header_communicat {
  padding: 2rem 0px;
}
.header_communicat h4 {
  font-weight: 500;
  font-size: 14px;
  color: #55595c;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.header_communicat .communicat_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0px;
  position: relative;
  z-index: 2;
}
.header_communicat .communicat_name input {
  width: 200px;
  height: 42px;
  border-radius: 50px;
  border: 1px solid #000;
  outline: none;
  position: relative;
  padding: 0px 26px;
}
.header_communicat .communicat_name ::-moz-placeholder {
  position: absolute;
  left: 20px;
  top: -10px;
  background-color: white;
  padding: 0 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #55595c;
}
.header_communicat .communicat_name ::placeholder {
  position: absolute;
  left: 20px;
  top: -10px;
  background-color: white;
  padding: 0 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #55595c;
}
.header_communicat .communicat_name .filter:focus ~ .placeholder,
.header_communicat .communicat_name .filter:valid ~ .placeholder {
  display: none;
}
.header_communicat .communicat_number {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_communicat .communicat_number #number-id {
  width: 124px;
  height: 42px;
  border: 1px solid #000000;
  border-radius: 50px;
  outline: none;
  z-index: 1;
  position: relative;
  padding: 0px 26px;
}
.header_communicat .communicat_number #number-id::-moz-placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  text-align: end;
  padding: 0px 23px;
}
.header_communicat .communicat_number #number-id::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  text-align: end;
  padding: 0px 23px;
}
.header_communicat .communicat_number .comunicat_flags {
  padding: 10px 0px;
}
.header_communicat .communicat_number .comunicat_flags input {
  width: 200px;
  height: 42px;
  border: 1px solid #000000;
  border-radius: 50px;
  outline: none;
  padding: 0px 26px;
}
.header_communicat .communicat_number .comunicat_child_number {
  padding: 10px 0px;
}
.header_communicat .communicat_number .comunicat_child_number input {
  width: 272px;
  height: 42px;
  border: 1px solid #000000;
  border-radius: 50px;
  outline: none;
  padding: 0px 26px;
}
.header_communicat .communicat_number .comunicat_child_number ::-moz-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #cccccc;
  padding-left: 26px;
}
.header_communicat .communicat_number .comunicat_child_number ::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #cccccc;
  padding-left: 26px;
}
.header_communicat .communicat_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.header_communicat .communicat_button button {
  width: 196px;
  height: 42px;
  background: #df2d43;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 1px rgba(50, 40, 61, 0.4), 0px 2px 3px rgba(50, 40, 61, 0.2);
  border-radius: 60px;
  cursor: pointer;
}
.header_communicat .communicat_button button p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
}

.header_dashboard {
  position: fixed;
  top: 75px;
  width: 253px;
  background-color: #191c24;
  height: 100vh;
}
.header_dashboard .profile_items {
  position: relative;
  top: 65px;
}
.header_dashboard .profile_items a {
  text-decoration: none;
}
.header_dashboard .profile_items .my_profil_first {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  height: 48px;
  width: 237px;
  gap: 10px;
  transition: 0.3s;
}
.header_dashboard .profile_items .my_profil_first span {
  display: none;
}
.header_dashboard .profile_items .my_profil_first .user_logo1 {
  padding: 5px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #2a2d3a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_dashboard .profile_items .my_profil_first .user_logo1 img {
  width: 19px;
  height: 17px;
}
.header_dashboard .profile_items .my_profil_first .user_name_number1 {
  padding: 5px;
}
.header_dashboard .profile_items .my_profil_first .user_name_number1 h4 {
  font-weight: 500;
  font-size: 15px;
  color: white;
  white-space: nowrap;
}
.header_dashboard .profile_items .my_profil_first:hover {
  border-radius: 0px 50px 50px 0px;
  border-left: 3px solid #df2d43;
  padding-left: 10px;
  background-color: #101217;
}
.header_dashboard .my_News_header {
  margin-top: 10px;
}

.heder_user {
  width: 220px;
  height: 71px;
  background: #101217;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  margin-top: 2rem;
  margin-left: 10px;
  padding: 5px;
}
.heder_user .user_logo {
  padding: 5px;
}
.heder_user .user_name_number {
  padding: 5px;
}
.heder_user .user_name_number h4 {
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
}
.heder_user .user_name_number p {
  font-weight: 400;
  font-size: 8px;
  color: #747474;
}

.myProfil_items {
  position: absolute;
  top: 4rem;
  left: 16rem;
}

.My_news_header {
  position: absolute;
  top: 4rem;
  left: 16rem;
}

.our_sellers_header {
  position: absolute;
  top: 4rem;
  left: 16rem;
}

.header_massage {
  position: absolute;
  top: 4rem;
  left: 16rem;
}

.header_TopUpAccount {
  position: absolute;
  top: 4rem;
  left: 16rem;
}

.header_saved {
  position: absolute;
  top: 4rem;
  left: 16rem;
}

.header_exit {
  position: absolute;
  top: 4rem;
  left: 16rem;
}

.header_definitions {
  position: relative;
  top: 4rem;
}
.header_definitions .definitions_about_title {
  text-align: center;
  padding: 30px 0;
}
.header_definitions .definitions_about_title h1 {
  font-weight: 600;
  font-size: 36px;
  color: #55595c;
}
.header_definitions .definitions_about_title p {
  font-weight: 500;
  font-size: 16px;
  color: #818a91;
  padding: 25px 0px;
}
.header_definitions .header_card_definitions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 38px;
  gap: 38px;
  position: relative;
}
.header_definitions .header_card_definitions .definitions_card {
  width: 256px;
  height: 340px;
  background: #191c24;
  border-radius: 8px;
}
.header_definitions .header_card_definitions .definitions_card .definitions_card_item {
  max-width: 212px;
  height: 189px;
  margin: 0 auto;
  position: relative;
  top: 2rem;
}
.header_definitions .header_card_definitions .definitions_card .definitions_card_item .definitions_card_item_child .correct_card {
  display: flex;
  align-items: center;
}
.header_definitions .header_card_definitions .definitions_card .definitions_card_item .definitions_card_item_child h2 {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  padding: 5px 0;
}
.header_definitions .header_card_definitions .definitions_card .definitions_card_item .definitions_card_item_child h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
}
.header_definitions .header_card_definitions .definitions_card .definitions_card_item .definitions_card_item_child p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #ffffff;
  padding: 5px 9px;
  text-align: start;
  white-space: nowrap;
}
.header_definitions .header_card_definitions .definitions_card .definitions_card_item .definitions_card_item_child #bir_p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #ffffff;
  padding: 5px 18px;
  text-align: start;
  opacity: 0.35;
}
.header_definitions .header_card_definitions .definitions_card .definitions_card_item .definitions_card_item_child button {
  width: 212px;
  height: 28px;
  background: #df2d43;
  border-radius: 4px;
  border: none;
  padding: 5px 0;
  cursor: pointer;
}
.header_definitions .header_card_definitions .definitions_card .definitions_card_item .definitions_card_item_child button span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #ffffff;
}

.typeofpay {
  position: relative;
  top: 4rem;
}
.typeofpay .child_type_pay {
  text-align: center;
  padding: 30px 0;
}
.typeofpay .child_type_pay h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #55595c;
}
.typeofpay .child_type_pay p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #818a91;
  padding: 25px 0px;
}
.typeofpay .pay_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}
.typeofpay .pay_cards .pay_cards_child {
  width: 262px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #191c24;
  border-radius: 8px;
}

.left_item_bar {
  height: 200px;
  width: 200px;
  background-color: red;
  margin-top: 4rem;
}

.container .header_products {
  display: flex;
  justify-content: space-evenly;
  margin-top: 42px;
}
.container .bottom_products {
  max-width: 1200px;
  margin: 0 auto;
}

.header_product_slider {
  max-width: 609px;
  max-height: 553px;
}
.header_product_slider .product_slider_bottom_first {
  display: flex;
  gap: 1rem;
}
.header_product_slider .product_slider_bottom_first .child_slider_img {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  width: 609px;
  height: 553px;
}
.header_product_slider .product_slider_bottom_first .child_slider_img .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_product_slider .product_slider_bottom_first .child_slider_img .imgSlider {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_product_slider .product_slider_bottom_first .child_slider_img .imgSlider img {
  width: 609px;
  height: 553px;
}
.header_product_slider .product_slider_bottom_first .bottom_slider .swiper-wrapper {
  display: block;
  width: 85px;
}
.header_product_slider .product_slider_bottom_first .bottom_slider .swiper-wrapper .swiper-slide {
  overflow: hidden;
  max-height: 120px;
}
.header_product_slider .product_slider_bottom_first .bottom_slider .swiper-wrapper .child_bottom_slider {
  width: 85px;
  height: 125px;
  background-color: red;
  margin-top: 5px;
  border-radius: 6px;
}
.header_product_slider .product_slider_bottom_first .bottom_slider .swiper-wrapper .child_bottom_slider img {
  padding: 10px 0px;
  width: 85px;
  height: 120px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  fill: black !important;
  stroke: black !important;
  width: 24px;
  height: 24px;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  padding: 17px;
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-size: 20px;
}

.header_product_title {
  max-width: 503px;
}
.header_product_title .product_user {
  background: #191c24;
  border: 1px solid #e9e9e9;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  width: 503px;
  height: 76px;
  display: flex;
  align-items: center;
  padding: 8px 15px;
}
.header_product_title .product_user p {
  padding: 0px 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.header_product_title .some_about {
  margin-top: 40px;
}
.header_product_title .some_about p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #212121;
}
.header_product_title .product_location {
  display: flex;
  align-items: center;
  margin-top: 28px;
  justify-content: space-between;
}
.header_product_title .product_location .product_location_first {
  display: flex;
  align-items: center;
}
.header_product_title .product_location .product_location_first p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #df2d43;
  padding: 0px 7px;
}
.header_product_title .product_location .product_location_second {
  display: flex;
  align-content: center;
}
.header_product_title .product_location .product_location_second p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.084px;
  color: #141415;
  padding: 0px 5px;
}
.header_product_title .product_all_about {
  margin-top: 61px;
}
.header_product_title .product_all_about P {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #1d1d1d;
}
.header_product_title .product_price {
  margin-top: 99px;
  display: flex;
  align-items: center;
}
.header_product_title .product_price p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.header_product_title .product_price #som {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  padding: 0px 9px;
}
.header_product_title .product_buttons {
  margin-top: 29px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_product_title .product_buttons .product_phone_number button {
  width: 245px;
  height: 50px;
  background: #df2d43;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.header_product_title .product_buttons .product_phone_number button p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
}
.header_product_title .product_buttons .product_send_massage button {
  width: 245px;
  height: 50px;
  border: 2px solid #df2d43;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
}
.header_product_title .product_buttons .product_send_massage button p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #df2d43;
}

.top_conveniense {
  margin-top: 137px;
}
.top_conveniense h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  padding-bottom: 40px;
}
.top_conveniense .header_conveniense {
  display: flex;
  gap: 167px;
}
.top_conveniense .header_conveniense .left_conveniense .internet {
  display: flex;
  align-items: center;
}
.top_conveniense .header_conveniense .left_conveniense .internet p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #2a2d3a;
  padding: 15px 30px;
}
.top_conveniense .header_conveniense .right_conveniense .internet {
  display: flex;
  align-items: center;
}
.top_conveniense .header_conveniense .right_conveniense .internet p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #2a2d3a;
  padding: 15px 30px;
}

.header_property {
  margin-top: 100px;
}
.header_property h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  padding: 10px 0px;
}
.header_property .bir {
  display: flex;
  gap: 3rem;
}
.header_property .bir .hr {
  width: 641px;
  height: 1px;
  background: #d9d9d9;
  position: absolute;
}
.header_property .header_bottom {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 5px 0px;
}
.header_property .header_bottom .header-child {
  width: 120px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.header_property .header_bottom .header-child h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #686c6e;
}
.header_property .header_bottom .header-child-two {
  width: 120px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.header_property .header_bottom .header-child-two p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  white-space: nowrap;
}

.header_maps {
  margin-top: 69px;
}
.header_maps h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
}
.header_maps .google_carta {
  margin-top: 60px;
}

.top_slider {
  margin-top: 69px;
}
.top_slider h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
}
.top_slider .products_container {
  display: flex;
  flex-wrap: nowrap;
}

.mySwiper5 .swiper-button-next,
.mySwiper5 .swiper-button-prev {
  color: #000 !important;
  top: 1%;
}
.mySwiper5 .swiper-button-prev {
  left: auto;
  right: 32px;
}

.footer {
  max-width: 1302px;
  margin: 0 auto;
}
.footer .footer_child {
  padding-top: 100px;
}
.footer .footer_child .footer_items_header {
  display: flex;
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 100px;
  justify-content: space-between;
  padding-bottom: 60px;
}
.footer .footer_child .footer_bottom {
  padding: 20px 0px;
  border-top: 1px solid #d9d9d9;
  text-align: center;
}
.footer .footer_child .footer_bottom h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #434343;
}

.header_downloadApp {
  width: 1302px;
  height: 284px;
  background: #df2d43;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.header_downloadApp .round {
  position: absolute;
  animation: bubble 5s linear infinite;
  position: absolute;
  width: 239px;
  height: 239px;
  left: -18px;
  top: 190px;
  border-radius: 50%;
  background: radial-gradient(33.53% 33.53% at 66% 36.67%, rgba(255, 255, 255, 0.36) 0%, rgba(255, 255, 255, 0.054) 54.17%), radial-gradient(57.45% 55.33% at 61.33% 44.67%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 171.84px 238.667px 238.667px 47.7333px rgba(0, 0, 0, 0.07), inset 9.54667px -9.54667px 85.92px rgba(0, 0, 0, 0.05), inset -38.1867px 85.92px 124.107px rgba(255, 255, 255, 0.25);
}
.header_downloadApp .round1 {
  position: absolute;
  width: 170px;
  height: 170px;
  left: -103px;
  top: 47px;
  border-radius: 50%;
  animation: bubble 5s linear infinite;
  background: radial-gradient(33.53% 33.53% at 66% 36.67%, rgba(255, 255, 255, 0.36) 0%, rgba(255, 255, 255, 0.054) 54.17%), radial-gradient(57.45% 55.33% at 61.33% 44.67%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 97.92px 136px 136px 27.2px rgba(0, 0, 0, 0.07), inset 5.44px -5.44px 48.96px rgba(0, 0, 0, 0.05), inset -21.76px 48.96px 70.72px rgba(255, 255, 255, 0.25);
}
.header_downloadApp .round3 {
  border-radius: 50%;
  position: absolute;
  width: 191px;
  height: 191px;
  left: 620px;
  top: -96px;
  animation: bubble 5s linear infinite;
  background: radial-gradient(33.53% 33.53% at 66% 36.67%, rgba(255, 255, 255, 0.36) 0%, rgba(255, 255, 255, 0.054) 54.17%), radial-gradient(57.45% 55.33% at 61.33% 44.67%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 45.84px 63.6667px 63.6667px 12.7333px rgba(0, 0, 0, 0.07), inset 2.54667px -2.54667px 22.92px rgba(0, 0, 0, 0.05), inset -10.1867px 22.92px 33.1067px rgba(255, 255, 255, 0.25);
}
@keyframes bubble {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scaleY(0.95) scaleX(1.05);
  }
  48% {
    transform: scaleY(1.1) scaleX(0.9);
  }
  68% {
    transform: scaleY(0.98) scaleX(1.02);
  }
  80% {
    transform: scaleY(1.02) scaleX(0.98);
  }
  97%, 100% {
    transform: scale(1);
  }
}
.header_downloadApp .round4 {
  border-radius: 50%;
  position: absolute;
  width: 61px;
  height: 61px;
  left: 879px;
  top: 17px;
  animation: bubble 5s linear infinite;
  background: radial-gradient(33.53% 33.53% at 66% 36.67%, rgba(255, 255, 255, 0.36) 0%, rgba(255, 255, 255, 0.054) 54.17%), radial-gradient(57.45% 55.33% at 61.33% 44.67%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 16.8px 23.3333px 23.3333px 4.66667px rgba(0, 0, 0, 0.07), inset 0.933333px -0.933333px 8.4px rgba(0, 0, 0, 0.05), inset -3.73333px 8.4px 12.1333px rgba(255, 255, 255, 0.25);
}
.header_downloadApp .round5 {
  border-radius: 50%;
  position: absolute;
  width: 309px;
  height: 309px;
  left: 1078px;
  top: 129px;
  animation: bubble 6s linear infinite;
  background: radial-gradient(33.53% 33.53% at 66% 36.67%, rgba(255, 255, 255, 0.36) 0%, rgba(255, 255, 255, 0.054) 54.17%), radial-gradient(57.45% 55.33% at 61.33% 44.67%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 74.16px 103px 103px 20.6px rgba(0, 0, 0, 0.07), inset 4.12px -4.12px 37.08px rgba(0, 0, 0, 0.05), inset -16.48px 37.08px 53.56px rgba(255, 255, 255, 0.25);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.header_downloadApp .airhouse_deg {
  position: relative;
  width: 1140px;
  height: 112px;
  left: 371px;
  top: 123.99px;
  background: #ffffff;
  box-shadow: 45.84px 63.6667px 63.6667px 12.7333px rgba(0, 0, 0, 0.07), inset 2.54667px -2.54667px 22.92px rgba(0, 0, 0, 0.05), inset -10.1867px 22.92px 33.1067px rgba(255, 255, 255, 0.25);
  transform: rotate(-23.16deg);
  display: flex;
  align-items: center;
}
.header_downloadApp .airhouse_deg .airhouse_deg::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.header_downloadApp .airhouse_deg .airhouse_deg::before {
  left: 0;
  top: 0;
}
.header_downloadApp .airhouse_deg .slider_track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
  align-items: center;
}
.header_downloadApp .airhouse_deg #p-teg1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  margin: 0px 1rem;
  color: #d32b3f;
}
.header_downloadApp .downloadImg {
  position: absolute;
  width: 202px;
  height: 421px;
  left: 135px;
  top: 17px;
  filter: drop-shadow(0px 4px 183px rgba(122, 122, 122, 0.34));
  border-radius: 98px;
}
.header_downloadApp .downloadApp_child h1 {
  position: absolute;
  width: 153px;
  height: 19px;
  left: 405px;
  top: 71px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #ffffff;
  white-space: nowrap;
}
.header_downloadApp .downloadApp_child .googlePlay {
  position: absolute;
  left: 31.26%;
  right: 57.22%;
  top: 41%;
  bottom: 27.19%;
}
.header_downloadApp .downloadApp_child .appStore {
  position: absolute;
  width: 150px;
  height: 43.33px;
  left: 407px;
  top: 185px;
}

.header_airhouse {
  max-width: 250px;
}
.header_airhouse #air {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  padding-bottom: 42px;
}
.header_airhouse .callcentr h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  padding-bottom: 23px;
}
.header_airhouse .air_phone_number p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  padding-bottom: 15px;
}
.header_airhouse .air_log {
  display: flex;
  align-content: center;
  justify-content: start;
  gap: 20px;
}

.header_cooperation {
  max-width: 250px;
}
.header_cooperation h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  padding-bottom: 40px;
}
.header_cooperation .site_news p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  padding-bottom: 15px;
}
.header_cooperation .build p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.header_aboutUs {
  max-width: 250px;
}
.header_aboutUs h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  padding-bottom: 40px;
}
.header_aboutUs .vakansiya {
  padding-bottom: 15px;
}
.header_aboutUs .vakansiya p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.header_aboutUs .Connect_us {
  padding-bottom: 15px;
}
.header_aboutUs .Connect_us p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.header_aboutUs .contact {
  padding-bottom: 15px;
}
.header_aboutUs .contact p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.header_safety {
  max-width: 250px;
}
.header_safety h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  padding-bottom: 40px;
}
.header_safety .about_safety p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #434343;
  padding-bottom: 15px;
}
.header_safety .click_and_uzum {
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}
.header_safety .payme_and_paynet {
  max-width: 212px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */