.header_dashboard {
  position: fixed;
  top: 75px;
  width: 253px;
  background-color: #191c24;
  height: 100vh;
  .profile_items {
    position: relative;
    top: 65px;
    a {
      text-decoration: none;
    }

    .my_profil_first {
      display: flex;
      align-items: center;
      padding: 0px 20px;
      height: 48px;
      width: 237px;
      gap: 10px;
      transition: 0.3s;
      span {
        display: none;
      }

      .user_logo1 {
        padding: 5px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: #2a2d3a;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 19px;
          height: 17px;
        }
      }
      .user_name_number1 {
        padding: 5px;
        h4 {
          font-weight: 500;
          font-size: 15px;
          color: #ffff;
        }
      }
    }
    .my_profil_first:hover {
      // background: #101217;
      border-radius: 0px 50px 50px 0px;
      // height: 48px;
      // width: 237px;
      // // border-left: 6px solid #DF2D43;
      // transition: 0.2s;

      border-left: 3px solid #df2d43;
      padding-left: 10px;
      background-color: #101217;
      // span {
      //   width: 6px;
      //   background: #df2d43;
      //   height: 48px;
      //   position: absolute;
      //   left: 0;
      //   display: block;
      //   padding-right: 5px;
      // }
    }
  }
  .my_News_header {
    margin-top: 10px;
  }
}
